name: Scanner versioned vulnerabilities update

on:
  workflow_dispatch:
    inputs:
      stream:
        description: "Vulnerability bundle version stream to build (typically vN, eg. v2)."
        required: false
      ga_ref:
        description: >
          WARNING - THIS WLL UPDATE A GA BUNDLE STREAM: Sets the git reference
          to build a bundle that will be uploaded to the GA version stream.
        required: false
      rc_ref:
        description: >
          Sets the git reference to build a bundle that will be uploaded to the
          release candidate version stream, appending `-rc` to the version
          stream vN (eg. v2-rc).
        required: false
      job:
        type: choice
        description: "Choose the NVD source"
        options:
        - nvd-api
        - nvd-feeds
        required: true
        default: nvd-feeds
      dry_run:
        description: "Dry run mode - do not abort or set env vars if reference cannot be determined"
        type: boolean
        required: false
        default: false

jobs:
  parse-versions:
    runs-on: ubuntu-latest
    outputs:
      versions: ${{ steps.set-versions.outputs.versions }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Parse VULNERABILITY_BUNDLE_VERSION
      id: set-versions
      env:
        INPUT_GA_REF: ${{ github.event.inputs.ga_ref || '' }}
        INPUT_RC_REF: ${{ github.event.inputs.rc_ref || '' }}
        INPUT_STREAM: ${{ github.event.inputs.stream || '' }}
        INPUT_DRY_RUN: ${{ github.event.inputs.dry_run || 'false' }}
      run: |
        set -o pipefail

        if [[ "$GITHUB_EVENT_NAME" == "workflow_dispatch" ]]; then
            # Validate input.
            if [ -n "$INPUT_GA_REF" ] && [ -n "$INPUT_RC_REF" ]; then
                echo >&2 "abort: invalid input: you cannot provide both 'ga_ref' and 'rc_ref'"
                exit 1
            fi
            if [ -z "$INPUT_GA_REF" ] && [ -z "$INPUT_RC_REF" ] && [ -n "$INPUT_STREAM" ]; then
                echo >&2 "abort: invalid input: when specifying 'stream', you must set 'ga_ref' or 'rc_ref'"
                exit 1
            fi

            # Determine the reference.
            if [ -n "$INPUT_GA_REF" ]; then
                ref="$INPUT_GA_REF"
            fi
            if [ -n "$INPUT_RC_REF" ]; then
                ref="$INPUT_RC_REF"
                allow_rc=true
            fi

            if [ -z "$ref" ]; then
                if [ "$INPUT_DRY_RUN" = "true" ]; then
                    echo "dry run: reference could not be determined, skipping env var configuration"
                    # Skip setting env vars in dry run mode
                else
                    echo >&2 "abort: invalid input: could not determine the reference"
                    exit 1
                fi
            else
                # Configure environment to generate the matrix with versions and
                # references.
                export SCANNER_BUNDLE_STREAM="$INPUT_STREAM"
                export SCANNER_BUNDLE_REFERENCE="$ref"
                export SCANNER_RELEASE_ALLOW_RC="$allow_rc"
            fi
        fi

        EOF=$(dd if=/dev/urandom bs=15 count=1 status=none | base64)
        echo "versions<<$EOF" >> "$GITHUB_OUTPUT"
        ./.github/workflows/scripts/scanner-get-released-tags.sh | tee -a "$GITHUB_OUTPUT"
        echo "$EOF" >> "$GITHUB_OUTPUT"

  build-and-run:
    needs:
    - parse-versions
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:scanner-test-0.5.1
      volumes:
      # The updater makes heavy use of /tmp files.
      - /tmp:/tmp
      - /usr:/mnt/usr
      - /opt:/mnt/opt
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        include: ${{ fromJson(needs.parse-versions.outputs.versions) }}
    env:
      SCANNER_BUNDLE_VERSION: ${{ matrix.version }}
      ROX_GIT_REF: ${{ matrix.ref }}
      STACKROX_RHEL_VEX_COMPRESSED_FILE_TIMEOUT: "10m"
    steps:
    # Checkout master to get the latest local actions
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - uses: ./.github/actions/job-preamble
      with:
        free-disk-space: 50
        gcp-account: ${{ secrets.GCP_SERVICE_ACCOUNT_STACKROX_CI }}

    - name: Checkout specific reference
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        ref: ${{ env.ROX_GIT_REF }}

  