name: Scanner versioned vulnerabilities update

on:
  workflow_dispatch:

jobs:
  parse-versions:
    runs-on: ubuntu-latest
    outputs:
      versions: ${{ steps.set-versions.outputs.versions }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Parse VULNERABILITY_BUNDLE_VERSION
      id: set-versions
      run: |
        set -o pipefail

        EOF=$(dd if=/dev/urandom bs=15 count=1 status=none | base64)
        echo "versions<<$EOF" >> "$GITHUB_OUTPUT"
        ./.github/workflows/scripts/scanner-get-released-tags.sh | tee -a "$GITHUB_OUTPUT"
        echo "$EOF" >> "$GITHUB_OUTPUT"

  build-and-run:
    needs:
    - parse-versions
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        include: ${{ fromJson(needs.parse-versions.outputs.versions) }}
    env:
      SCANNER_BUNDLE_VERSION: ${{ matrix.version }}
      ROX_GIT_REF: ${{ matrix.ref }}
      STACKROX_RHEL_VEX_COMPRESSED_FILE_TIMEOUT: "10m"
    steps:

    - name: Checkout specific reference
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        ref: ${{ env.ROX_GIT_REF }}

  